Repository dsm23/todomvc-redux-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint --allow-empty-input

chore(vite plugin): switch react plugin from swc
  package.json
  pnpm-lock.yaml
  vite.config.ts
  vitest.config.ts
Due: eslint, prettier --check

chore(commitizen): remove commitizen
  .czrc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

ci(playwright): set user option
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
Due: prettier --check

ci(renovate): use renovate docker image instead of pnpm
  .github/workflows/renovate.yml
Due: prettier --check

ci(unit testing): add test sharding
  .github/workflows/unit-testing.yml
  .gitignore
Due: prettier --check

chore(pnpm): update pnpm-workspace
  .dockerignore
  Dockerfile
  pnpm-workspace.yaml
Due: none

ci(unit testing): add coverage in pr comment
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(dirname): import.meta.dirname
  eslint.config.js
  vitest.config.ts
Due: eslint, prettier --check

ci(unit-testing): add coverage compare
  .github/workflows/unit-testing.yml
  renovate.json
Due: prettier --check

ci(renovate): add security presets to config
  renovate.json
Due: prettier --check

ci(renovate): update custom manager
  renovate.json
Due: prettier --check

chore(ts): add json schema to tsconfig
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: prettier --check

ci(renovate): use config:best-practices
  renovate.json
Due: prettier --check

chore(deps): update js unit test packages to v4
  package.json
  pnpm-lock.yaml
  src/components/main/MainSection.spec.tsx
  vitest.config.ts
  vitest.shims.d.ts
Due: eslint, prettier --check

ci(mergify): use or operator for renovate/stability-days
  .mergify.yml
Due: prettier --check

ci(renovate): remove minimumReleaseAgeNpm
  renovate.json
Due: prettier --check

chore(deps): update npm dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(deps): remove @eslint/compat
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --check

chore(prettier): simplify .prettierignore
  .prettierignore
Due: none

chore(playwright): separate playwright configs
  .github/workflows/playwright.yml
  package.json
  playwright.prod.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --check

ci(playwright): correct container
  .github/workflows/playwright.yml
Due: prettier --check

ci(playwright): remove noble declaration
  .github/workflows/playwright.yml
  playwright.config.ts
  playwright.prod.config.ts
Due: eslint, prettier --check

ci(playwright): add tags in playwright configs
  playwright.config.ts
  playwright.prod.config.ts
Due: eslint, prettier --check

chore(deps): update dependency vite-tsconfig-paths to v6
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, prettier --check

chore(vite): remove vite-env.d.ts
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.node.json
Due: eslint, prettier --check

chore(pnpm): mitigate supply chain attacks
  pnpm-workspace.yaml
Due: none

chore(pnpm): remove trustPolicy
  pnpm-workspace.yaml
Due: none

chore(docker): ignore tests in docker
  .dockerignore
Due: none

ci(renovate): add minimum 3 days release on all updates
  renovate.json
Due: prettier --check

ci(renovate): remove docker datasource minimumReleaseAge
  renovate.json
Due: prettier --check

ci(permissions): restrict token permssions to only public repos
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-title.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecard.yml
  .github/workflows/smoke-test.yml
  .github/workflows/unit-testing.yml
  .github/workflows/zizmor.yml
Due: prettier --check

ci(docker): add docker cleanup workflow
  .github/workflows/docker-cleanup.yml
Due: prettier --check

ci(zizmor): add zizmor gh action
  .github/workflows/zizmor.yml
Due: prettier --check

ci(pr-title): remove pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

chore(oxfmt): migrate from prettier to oxfmt
  .gitignore
  .oxfmtrc.json
  .prettierignore
  .vscode/extensions.json
  lefthook.yml
  lethook-local.yml
  package.json
  pnpm-lock.yaml
  prettier.config.js
  renovate.json
  src/App.tsx
  src/components/footer/index.tsx
  src/components/header/index.tsx
  src/components/link/Link.spec.tsx
  src/components/link/index.tsx
  src/components/main/index.tsx
  src/components/todo-item/TodoItem.spec.tsx
  src/components/todo-item/index.tsx
  src/components/todo-list/index.tsx
  src/components/todo-text-input/TodoTextInput.spec.tsx
  src/components/todo-text-input/index.stories.tsx
  src/components/todo-text-input/index.tsx
  src/test-utils/index.tsx
  vite.config.ts
  vitest.config.ts
Due: eslint, prettier --check

ci(renovate): add minimum 3 days release on key datasources
  renovate.json
Due: prettier --check

ci(renovate): remove rebase on patch
  renovate.json
Due: prettier --check

ci(mergify): add merge queue
  .mergify.yml
Due: prettier --check

chore(deps): update storybook monorepo to v10.2.16
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --check

refactor(oxlint): migrate from eslint to oxlint
  .gitignore
  .vscode/extensions.json
  eslint.config.js
  lefthook.yml
  oxlint.config.ts
  package.json
  playwright.config.ts
  playwright.prod.config.ts
  pnpm-lock.yaml
  renovate.json
  src/app.spec.tsx
  src/app.tsx
  src/components/footer/index.tsx
  src/components/footer/styles.module.css
  src/components/header/Header.spec.tsx
  src/components/header/index.tsx
  src/components/link/Link.spec.tsx
  src/components/link/index.tsx
  src/components/main/MainSection.spec.tsx
  src/components/main/index.tsx
  src/components/todo-list/TodoList.spec.tsx
  src/components/todo-text-input/TodoTextInput.spec.tsx
  src/components/todo-text-input/index.stories.tsx
  src/components/todo-text-input/index.tsx
  src/features/todos/slice.ts
  src/features/todos/todos.spec.ts
  src/main.spec.tsx
  src/main.tsx
  src/selectors/index.ts
  src/test-utils/index.tsx
  tsconfig.app.json
  tsconfig.node.json
Due: eslint, prettier --check, stylelint --allow-empty-input

Path conditions:
  eslint: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check: ((any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.css)) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
