Repository dsm23/todomvc-redux-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint", "prettier --check"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --check"],
  "**/*.{json,yml}": ["prettier --check"]
}

ci(pr-title): add pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

chore(dockerignore): update .dockerignore
  .dockerignore
Due: none

ci(docker): corepack is fixed
  Dockerfile
Due: none

ci(mergify): remove no. success checks
  .github/workflows/codeql.yml
  .github/workflows/playwright.yml
  .mergify.yml
Due: prettier --check

ci(docker): fix image name
  .github/workflows/docker.yml
Due: prettier --check

ci(gh cache): update cache path
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(deps): update dependency stylelint-config-standard to v38
  package.json
  pnpm-lock.yaml
  src/components/footer/styles.module.css
  src/components/todo-text-input/styles.module.css
  src/styles.module.css
Due: prettier --check, stylelint --allow-empty-input

chore(codeql): fix incorrect version label
  .github/workflows/codeql.yml
Due: prettier --check

chore(license): add MIT license
  LICENSE
Due: none

ci(node setup): update node-based gh actions
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(pr-label): remove pr-label pipeline
  .github/workflows/pull-request-label.yml
Due: prettier --check

chore(deps): update node.js to v24.0.1
  .nvmrc
  Dockerfile
Due: none

chore(vscode): add recommended extensions
  .vscode/extensions.json
Due: prettier --check

chore(selectors): use selector pattern from slice
  src/features/todos/slice.ts
  src/features/visibility-filter/slice.ts
Due: eslint, prettier --check

ci(codeql): add codeql for gh actions
  .github/workflows/codeql.yml
  .mergify.yml
Due: prettier --check

ci(permissions): add gh actions permissions
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(types): add typed-query-selector
  package.json
  pnpm-lock.yaml
  src/reset.d.ts
Due: eslint, prettier --check

ci(scorecard): add scorecard
  .github/workflows/scorecard.yml
Due: prettier --check

docs(security): add security policy
  SECURITY.md
Due: eslint, prettier --check

chore(codeowners): add codeowners
  .github/CODEOWNERS
  .github/SECURITY.md
  .vscode/extensions.json
Due: eslint, prettier --check

docs(codeowners): add renovate[bot]
  .github/CODEOWNERS
Due: none

docs(codeowners): revert to single human
  .github/CODEOWNERS
Due: none

chore(lefthook): replace husky with lefthook
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
  .husky/commit-msg
  .husky/install.mjs
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc
  Dockerfile
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier --check

ci(permissions): stricter gh actions permissions
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/zizmor.yml
Due: prettier --check

chore(deps): update nginx version in dockerfile v1.28.0
  Dockerfile
Due: none

chore(lint): run npm lint scripts in parallel
  package.json
Due: prettier --check

ci(playwright): remove reference to ubuntu noble
  .github/workflows/playwright.yml
Due: prettier --check

fix(nginx): updated script for unprivileged user
  Dockerfile
Due: none

ci(mergify): autodelete merged branches in github
  .mergify.yml
Due: prettier --check

chore: add storybook
  .github/workflows/smoke-test.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/todo-text-input/index.stories.tsx
  src/stories/Configure.mdx
  src/stories/assets/accessibility.png
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  vitest.config.ts
  vitest.shims.d.ts
Due: eslint, prettier --check

chore(deps): update @types/node to v24.x.x
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(lefthook): remove glob pattern for prettier
  lefthook.yml
Due: prettier --check

chore(lefthook): add lefthook-local.yml to .gitignore
  .gitignore
  lefthook.yml
  lethook-local.yml
Due: prettier --check

ci(renovate): add renovate config check pipeline
  .github/workflows/renovate.yml
  .mergify.yml
Due: prettier --check

ci(renovate): add custom manager for prettier and typescript
  prettier.config.js
  renovate.json
Due: eslint, prettier --check

chore(renovate): add comment
  renovate.json
Due: prettier --check

ci(lint): add hadolint check in pipeline
  .github/workflows/lint.yml
  Dockerfile
Due: prettier --check

ci(docker): simplify image name in pipeline
  .github/workflows/docker.yml
Due: prettier --check

ci(playwright): merge reports
  .github/workflows/playwright.yml
  playwright.config.ts
Due: eslint, prettier --check

test(playwright): run against dev and prod modes
  .github/workflows/playwright.yml
  playwright.config.ts
Due: eslint, prettier --check
