Repository dsm23/todomvc-redux-example: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    oxfmt:
      run: ./node_modules/.bin/oxfmt --check --no-error-on-unmatched-pattern {staged_files}

    stylelint:
      run: ./node_modules/.bin/stylelint --allow-empty-input {staged_files}
      glob: "*.css"

    eslint:
      run: ./node_modules/.bin/eslint {staged_files}
      glob:
        - "*.ts"
        - "*.js"
        - "*.tsx"
        - "*.jsx"
        - "*.md"
        - "*.mdx"

commit-msg:
  commands:
    commitlint:
      run: ./node_modules/.bin/commitlint --edit {1}

chore(knip): add knip for linting unused deps
  .github/workflows/lint.yml
  knip.config.ts
  package.json
  pnpm-lock.yaml
  src/features/todos/slice.ts
Due: eslint

chore(deps): update vite packages
  package.json
  pnpm-lock.yaml
  src/components/footer/Footer.spec.tsx
  src/components/header/Header.spec.tsx
  src/components/link/Link.spec.tsx
  src/components/main/MainSection.spec.tsx
  src/components/main/styles.module.css
  src/components/todo-item/TodoItem.spec.tsx
  src/components/todo-item/styles.module.css
  src/components/todo-text-input/TodoTextInput.spec.tsx
  vite.config.ts
Due: stylelint, eslint

test(favicon): add favicon playwright test
  playwright-tests/favicon.spec.ts
Due: eslint

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: none

chore(deps): update dependency oxlint to v1.58.0
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint

chore(lint): use eslint-plugin-better-tailwindcss
  knip.config.ts
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint

chore(deps): update npm dependencies
  package.json
  pnpm-lock.yaml
Due: none

ci(renovate): add support for dhi.io
  Dockerfile
  renovate.json
Due: none

ci(harden-runner): remove harden-runner in playwright
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
Due: none

chore(stylelint): remove stylelint-selector-bem-pattern
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint

chore(knip): update config
  knip.config.ts
Due: eslint

ci(renovate): update config check pipeline
  .github/workflows/renovate.yml
Due: none

ci(renovate): override docker datasource
  renovate.json
Due: none

chore(deps): update dependency oxlint to v1.63.0
  .storybook/preview.ts
  package.json
  playwright-tests/favicon.spec.ts
  pnpm-lock.yaml
  stylelint.config.js
  tsconfig.app.json
  tsconfig.node.json
Due: eslint

chore(deps): update pnpm to v11
  .github/actions/setup/action.yml
  .nvmrc
  Dockerfile
  package.json
  pnpm-workspace.yaml
  renovate.json
Due: none

chore(deps): update dependency oxlint to v1.65.0
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint

ci(renovate): custom manager for pnpm docker image
  renovate.json
Due: none

ci(renovate): simplify to daily updates
  renovate.json
Due: none

ci(renovate): playwright group for browser updates
  renovate.json
Due: none

ci(renovate): separate major updates from group
  renovate.json
Due: none

ci(ubuntu): return to ubuntu-latest
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-cleanup.yml
  .github/workflows/docker.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecard.yml
  .github/workflows/smoke-test.yml
  .github/workflows/unit-testing.yml
  .github/workflows/zizmor.yml
Due: none

ci(renovate): remove non-major updates from merge queue
  .mergify.yml
  renovate.json
Due: none

ci(renovate): remove pnpm custom manager
  renovate.json
Due: none
